# Distribuciones por categoria y macrodistrito - Cat industrial

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
direccion = './'
archivo = 'meses_total.xlsx'
fuente = direccion +'/'+ archivo
df = pd.read_excel(fuente)
display(df)

,CLIENTE,categoria,ene,feb,mar,abr,may,jun,jul,ago,sep,oct,nov,dic
0,4,INDUSTRIAL,480,480.0,480.0,480.0,400.0,320.0,400.0,400.0,400.0,480.0,320.0,480.0
1,5,DOMICILIARIA,49,51.0,42.0,41.0,51.0,14.0,29.0,28.0,18.0,29.0,24.0,34.0
2,6,DOMICILIARIA,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,8,DOMICILIARIA,2,65.0,129.0,143.0,134.0,133.0,156.0,174.0,171.0,160.0,164.0,147.0
4,12,INDUSTRIAL,7800,6720.0,7680.0,8760.0,8400.0,8640.0,8280.0,8640.0,9280.0,8600.0,8760.0,8400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
960849,1124021,DOMICILIARIA,0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
960850,1124024,DOMICILIARIA,0,0.0,0.0,0.0,0.0,2.0,0.0,5.0,1.0,2.0,1.0,0.0
960851,1124044,DOMICILIARIA,0,6.0,9.0,7.0,7.0,4.0,5.0,11.0,8.0,9.0,10.0,4.0
960852,1124056,DOMICILIARIA,0,1.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
960853,1124063,DOMICILIARIA,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 926480 entries, 0 to 960853
Data columns (total 14 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   CLIENTE    926480 non-null  int64
 1   categoria  926480 non-null  object
 2   ene        926480 non-null  int64
 3   feb        926480 non-null  float64
 4   mar        926480 non-null  float64
 5   abr        926480 non-null  float64
 6   may        926480 non-null  float64
 7   jun        926480 non-null  float64
 8   jul        926480 non-null  float64
 9   ago        926480 non-null  float64
 10  sep        926480 non-null  float64
 11  oct        926480 non-null  float64
 12  nov        926480 non-null  float64
 13  dic        926480 non-null  float64
dtypes: float64(11), int64(2), object(1)
memory usage: 106.0+ MB

# Filtrado por Categoria Industrial

In [4]:
industrial = df[df['categoria']=='INDUSTRIAL']
industrial

,CLIENTE,categoria,ene,feb,mar,abr,may,jun,jul,ago,sep,oct,nov,dic
0,4,INDUSTRIAL,480,480.0,480.0,480.0,400.0,320.0,400.0,400.0,400.0,480.0,320.0,480.0
4,12,INDUSTRIAL,7800,6720.0,7680.0,8760.0,8400.0,8640.0,8280.0,8640.0,9280.0,8600.0,8760.0,8400.0
9,17,INDUSTRIAL,8160,6720.0,7680.0,7080.0,7320.0,7200.0,7080.0,7800.0,8160.0,7680.0,7920.0,6600.0
10,18,INDUSTRIAL,5756,7167.0,7482.0,9001.0,8933.0,10015.0,7620.0,3153.0,4492.0,6442.0,4925.0,7688.0
22,35,INDUSTRIAL,257,344.0,300.0,884.0,420.0,375.0,397.0,545.0,1517.0,281.0,1228.0,1220.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
960074,1121767,INDUSTRIAL,207,264.0,370.0,314.0,285.0,283.0,242.0,262.0,329.0,65.0,371.0,166.0
960662,1122852,INDUSTRIAL,8,213.0,227.0,246.0,223.0,244.0,269.0,266.0,300.0,266.0,270.0,224.0
960713,1123019,INDUSTRIAL,16,166.0,219.0,224.0,208.0,175.0,222.0,230.0,234.0,261.0,205.0,172.0
960801,1123567,INDUSTRIAL,19,1572.0,115.0,93.0,111.0,104.0,97.0,120.0,137.0,144.0,177.0,137.0
960832,1123828,INDUSTRIAL,23,90.0,30.0,4.0,46.0,280.0,741.0,1153.0,1793.0,2031.0,1490.0,1554.0

# Filtrado por macrodistritos

# Centro

In [5]:
D_Centro = 'C:/Users/Jose Ibanez/Datos/DATARMRV/'
F_Centro = 'ConsuIndustrial.xlsx'
Fuente_C = D_Centro+'/'+F_Centro
centro = pd.read_excel(Fuente_C, sheet_name='Centro')
centro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 57 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CLIENTE     195 non-null    int64
 1   NOMBRE      195 non-null    object
 2   MUNICIPIO   195 non-null    object
 3   DIRECCION   195 non-null    object
 4   AREA        195 non-null    int64
 5   AREA_TEXT   195 non-null    object
 6   ANO         195 non-null    int64
 7   MES         195 non-null    int64
 8   CAT_APL     195 non-null    object
 9   SUB_CAT     195 non-null    object
 10  TENS_SUM    195 non-null    object
 11  TENS_MED    195 non-null    object
 12  FECH_ANT    195 non-null    datetime64[ns]
 13  FECH_ACT    195 non-null    datetime64[ns]
 14  CONS_LEI    195 non-null    int64
 15  CONS_BAL    195 non-null    int64
 16  CONS_BML    195 non-null    int64
 17  CONS_BBL    195 non-null    int64
 18  PERDIDAS    195 non-null    int64
 19  CONS_BAF    195 non-null    int64
 20  CONS_BMF    195 non-null    int64
 21  CONS_BBF    195 non-null    int64
 22  CONS_FAC    195 non-null    int64
 23  P_DECL      195 non-null    int64
 24  PLEI_PU     195 non-null    int64
 25  PLEI_FPU    195 non-null    int64
 26  P_CAL       195 non-null    int64
 27  PFAC_PU     195 non-null    int64
 28  PFAC_FPU    195 non-null    int64
 29  EXC_POT     195 non-null    int64
 30  IND_ACT     195 non-null    float64
 31  IND_ANT     195 non-null    float64
 32  ENE_REACT   195 non-null    int64
 33  FACT_POT    195 non-null    float64
 34  POT_TRA1    195 non-null    int64
 35  POT_TRA2    195 non-null    int64
 36  POT_TRA3    195 non-null    int64
 37  T_APUB      195 non-null    float64
 38  T_ASEO      195 non-null    float64
 39  IMP_AP      195 non-null    int64
 40  T_DIGNID    195 non-null    int64
 41  RECONEX     195 non-null    float64
 42  LEY1886     195 non-null    int64
 43  MOROSIDA    195 non-null    float64
 44  REDUCCIO    195 non-null    int64
 45  OTRO_IMP    195 non-null    int64
 46  IMP_BFP     195 non-null    float64
 47  IMP_CF      195 non-null    float64
 48  IMP_POT     195 non-null    float64
 49  IMP_EXC     195 non-null    float64
 50  IMPTOTAL    195 non-null    float64
 51  IMP_ENE     195 non-null    float64
 52  IMPTOTAL_C  195 non-null    float64
 53  NIT         195 non-null    int64
 54  NRO_DOCUME  195 non-null    int64
 55  FREG_ENE_0  195 non-null    int64
 56  FREPETIDO   195 non-null    int64
dtypes: datetime64[ns](2), float64(14), int64(33), object(8)
memory usage: 87.0+ KB

In [6]:
centro = centro.set_index("CLIENTE")

In [7]:
industrial  = industrial.set_index("CLIENTE")

In [8]:
centro_merge = pd.merge(centro, industrial, how='left',left_index=True,right_index=True)
centro_merge

,NOMBRE,MUNICIPIO,DIRECCION,AREA,AREA_TEXT,ANO,MES,CAT_APL,SUB_CAT,TENS_SUM,...,mar,abr,may,jun,jul,ago,sep,oct,nov,dic
CLIENTE,,,,,,,,,,,,,,,,,,,,,
845160,GUTIERREZ RUIZ STEFANNY EVELIN,LA PAZ,SAN SEBASTIAN C.CHUQUISACA/AV.PUCARANI,1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,931.0,1010.0,1061.0,929.0,937.0,931.0,751.0,901.0,889.0,1141.0
946601,ANGLES RIVEROS JOSE WILLIAMS,LA PAZ,SAN SEBASTIAN CALLE PUCARANI ESQ.INQUISIVI,1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,84.0,135.0,107.0,122.0,93.0,96.0,114.0,100.0,92.0,82.0
831371,LAIME BELZU MERCEDES NICOLASA,LA PAZ,"SAN SEBASTIAN,AV.DE LAS MUÑECAS,GAL.LAS AMERI",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,130.0,168.0,149.0,180.0,171.0,118.0,135.0,134.0,146.0,155.0
537382,QUISPE QUISPE VICTOR,LA PAZ,"SAN SEBASTIAN,AV.I DE LAS MUÑECAS,ED.NEPTUNO,",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995630,PRUDENCIO SARMIENTO MIGUEL ANGEL,LA PAZ,"SAN SEBASTIAN,AV.I.DE LAS MUÑECAS EQ.ISSAC TA",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,3660.0,4116.0,3751.0,3844.0,3488.0,4125.0,3899.0,3517.0,3650.0,3628.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,LABORATORIOS COFAR,LA PAZ,V EDUARDO 2293,1,LA PAZ,2023,1,I-GD-MT,Industrial,MT,...,162000.0,181200.0,144000.0,150000.0,144000.0,159600.0,170400.0,174000.0,159600.0,128400.0
487907,JACINTO FLORES JAVIER,LA PAZ,"VILLA PABON CLL,RAMON DE LOAYZA/CLL,SUCRE",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,3160.0,1423.0,1802.0,1641.0,1103.0,668.0,1274.0,956.0,1144.0,1627.0
194421,"GARCIA,JUAN",LA PAZ,J SANJINES 764,1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,3.0,11.0,112.0,0.0,12.0,11.0,7.0,6.0,10.0,9.0
194425,"LIMA CUENTAS,A GERARDO",LA PAZ,J SANJINES 764,1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,90.0,100.0,110.0,110.0,100.0,110.0,110.0,120.0,110.0,110.0
194433,"MOLDES RIVAS,FELIX V",LA PAZ,J SANJINES 764,1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,17.0,17.0,24.0,64.0,78.0,72.0,75.0,67.0,67.0,64.0

In [9]:
Macro_centro =centro_merge[['ene','feb','mar','abr','may','jun','jul','ago','sep','oct','nov','dic']].dropna()

In [10]:
Macro_centro

,ene,feb,mar,abr,may,jun,jul,ago,sep,oct,nov,dic
CLIENTE,,,,,,,,,,,,
845160,1027.0,899.0,931.0,1010.0,1061.0,929.0,937.0,931.0,751.0,901.0,889.0,1141.0
946601,91.0,123.0,84.0,135.0,107.0,122.0,93.0,96.0,114.0,100.0,92.0,82.0
831371,137.0,119.0,130.0,168.0,149.0,180.0,171.0,118.0,135.0,134.0,146.0,155.0
995630,3468.0,3268.0,3660.0,4116.0,3751.0,3844.0,3488.0,4125.0,3899.0,3517.0,3650.0,3628.0
981731,46.0,36.0,55.0,99.0,98.0,63.0,52.0,48.0,37.0,38.0,50.0,66.0
...,...,...,...,...,...,...,...,...,...,...,...,...
150,154800.0,154800.0,162000.0,181200.0,144000.0,150000.0,144000.0,159600.0,170400.0,174000.0,159600.0,128400.0
487907,1346.0,2042.0,3160.0,1423.0,1802.0,1641.0,1103.0,668.0,1274.0,956.0,1144.0,1627.0
194421,3.0,4.0,3.0,11.0,112.0,0.0,12.0,11.0,7.0,6.0,10.0,9.0
194425,60.0,60.0,90.0,100.0,110.0,110.0,100.0,110.0,110.0,120.0,110.0,110.0
194433,12.0,11.0,17.0,17.0,24.0,64.0,78.0,72.0,75.0,67.0,67.0,64.0

In [11]:
Macro_centro.to_csv('Centro_industrial_2023.csv')
Macro_centro.to_excel('Centro_industrial_2023.xlsx')

# Max Paredes

In [12]:
F_MP = 'ConsuIndustrial.xlsx'
Fuente_MP = D_Centro+'/'+F_MP
MP = pd.read_excel(Fuente_MP, sheet_name='Max Paredes')
MP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 57 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CLIENTE     161 non-null    int64
 1   NOMBRE      161 non-null    object
 2   MUNICIPIO   161 non-null    object
 3   DIRECCION   161 non-null    object
 4   AREA        161 non-null    int64
 5   AREA_TEXT   161 non-null    object
 6   ANO         161 non-null    int64
 7   MES         161 non-null    int64
 8   CAT_APL     161 non-null    object
 9   SUB_CAT     161 non-null    object
 10  TENS_SUM    161 non-null    object
 11  TENS_MED    161 non-null    object
 12  FECH_ANT    161 non-null    datetime64[ns]
 13  FECH_ACT    161 non-null    datetime64[ns]
 14  CONS_LEI    161 non-null    int64
 15  CONS_BAL    161 non-null    int64
 16  CONS_BML    161 non-null    int64
 17  CONS_BBL    161 non-null    int64
 18  PERDIDAS    161 non-null    int64
 19  CONS_BAF    161 non-null    int64
 20  CONS_BMF    161 non-null    int64
 21  CONS_BBF    161 non-null    int64
 22  CONS_FAC    161 non-null    int64
 23  P_DECL      161 non-null    int64
 24  PLEI_PU     161 non-null    int64
 25  PLEI_FPU    161 non-null    int64
 26  P_CAL       161 non-null    int64
 27  PFAC_PU     161 non-null    int64
 28  PFAC_FPU    161 non-null    int64
 29  EXC_POT     161 non-null    int64
 30  IND_ACT     161 non-null    float64
 31  IND_ANT     161 non-null    float64
 32  ENE_REACT   161 non-null    int64
 33  FACT_POT    161 non-null    float64
 34  POT_TRA1    161 non-null    int64
 35  POT_TRA2    161 non-null    int64
 36  POT_TRA3    161 non-null    int64
 37  T_APUB      161 non-null    float64
 38  T_ASEO      161 non-null    float64
 39  IMP_AP      161 non-null    int64
 40  T_DIGNID    161 non-null    int64
 41  RECONEX     161 non-null    float64
 42  LEY1886     161 non-null    int64
 43  MOROSIDA    161 non-null    float64
 44  REDUCCIO    161 non-null    int64
 45  OTRO_IMP    161 non-null    int64
 46  IMP_BFP     161 non-null    float64
 47  IMP_CF      161 non-null    float64
 48  IMP_POT     161 non-null    float64
 49  IMP_EXC     161 non-null    float64
 50  IMPTOTAL    161 non-null    float64
 51  IMP_ENE     161 non-null    float64
 52  IMPTOTAL_C  161 non-null    float64
 53  NIT         161 non-null    int64
 54  NRO_DOCUME  161 non-null    int64
 55  FREG_ENE_0  161 non-null    int64
 56  FREPETIDO   161 non-null    int64
dtypes: datetime64[ns](2), float64(14), int64(33), object(8)
memory usage: 71.8+ KB

In [13]:
MP = MP.set_index("CLIENTE")

In [14]:
MP_merge = pd.merge(MP, industrial, how='left',left_index=True,right_index=True)
MP_merge

,NOMBRE,MUNICIPIO,DIRECCION,AREA,AREA_TEXT,ANO,MES,CAT_APL,SUB_CAT,TENS_SUM,...,mar,abr,may,jun,jul,ago,sep,oct,nov,dic
CLIENTE,,,,,,,,,,,,,,,,,,,,,
402959,SARAVIA NINA ISAAC,LA PAZ,"14 DE SEPTBRE.CLL.A.QUIJARRO PSJ,170/JUAN GRA",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,297.0,402.0,227.0,330.0,486.0,421.0,430.0,408.0,419.0,341.0
704232,QUISPE ESCOBAR GERMAN ISIDORO,LA PAZ,"14 DE SEPTIEM,CALLE JUAN GRANIER,ESQ.A.QUIJAR",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,77.0,69.0,53.0,71.0,58.0,66.0,76.0,62.0,61.0,68.0
982917,ANABE CASTILLO FERNANDO ADRIAN,LA PAZ,"14 DE SEPTIEMBRE,AV.M BAPTISTA EQ.CLL.MONASTE",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,48.0,28.0,6.0,56.0,3.0,5.0,5.0,95.0,101.0,0.0
175191,SALINAS YAHUITA JOSE LUIS,LA PAZ,"14 DE SEPTIEMBRE,C.LINO MONASTERIOS,EQ.AV.BAU",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,93.0,244.0,395.0,737.0,374.0,362.0,483.0,500.0,393.0,619.0
590931,ESCOBAR ALEJO EDWIN,LA PAZ,"14 DE SEPTIEMBRE,CALLE A.QUIJARRO AV.BAUTISTA",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70598,"LUNA LAURA,RODOLFO",LA PAZ,R BUSTAMANTE 850,1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,10.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
449127,PALACIOS CATACORA JAVIER OSWALDO,LA PAZ,UYUSTUS PROLONGACION,1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,193.0,209.0,185.0,190.0,185.0,183.0,193.0,197.0,189.0,191.0
1016734,VELASQUEZ ANDRADE JOSE LUIS,LA PAZ,V. TOLEDO.ASUNCION/MANURIPI,1,LA PAZ,2023,1,I-MD-BT,Industrial,BT,...,750.0,567.0,517.0,752.0,452.0,912.0,717.0,774.0,1465.0,1303.0
454213,FLORES PEREZ CLAUDIO ELEUTERIO,LA PAZ,"Z LOS ANDES, C MAURICIO MANCILLA/TARACO",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,28.0,17.0,29.0,20.0,13.0,34.0,23.0,17.0,17.0,13.0
111329,ESPINOZA CHAVEZ IVAN,LA PAZ,J PINTO 2646,1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
Macro_MP =MP_merge[['ene','feb','mar','abr','may','jun','jul','ago','sep','oct','nov','dic']].dropna()

In [16]:
Macro_MP.to_csv('MP_industrial_2023.csv')
Macro_MP.to_excel('MP_industrial_2023.xlsx')

# SUR

In [17]:
F_MP = 'ConsuIndustrial.xlsx'
Fuente_MP = D_Centro+'/'+F_MP
SUR = pd.read_excel(Fuente_MP, sheet_name='Sur')
SUR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 57 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CLIENTE     211 non-null    int64
 1   NOMBRE      211 non-null    object
 2   MUNICIPIO   211 non-null    object
 3   DIRECCION   211 non-null    object
 4   AREA        211 non-null    int64
 5   AREA_TEXT   211 non-null    object
 6   ANO         211 non-null    int64
 7   MES         211 non-null    int64
 8   CAT_APL     211 non-null    object
 9   SUB_CAT     211 non-null    object
 10  TENS_SUM    211 non-null    object
 11  TENS_MED    211 non-null    object
 12  FECH_ANT    211 non-null    datetime64[ns]
 13  FECH_ACT    211 non-null    datetime64[ns]
 14  CONS_LEI    211 non-null    int64
 15  CONS_BAL    211 non-null    int64
 16  CONS_BML    211 non-null    int64
 17  CONS_BBL    211 non-null    int64
 18  PERDIDAS    211 non-null    int64
 19  CONS_BAF    211 non-null    int64
 20  CONS_BMF    211 non-null    int64
 21  CONS_BBF    211 non-null    int64
 22  CONS_FAC    211 non-null    int64
 23  P_DECL      211 non-null    int64
 24  PLEI_PU     211 non-null    int64
 25  PLEI_FPU    211 non-null    int64
 26  P_CAL       211 non-null    int64
 27  PFAC_PU     211 non-null    int64
 28  PFAC_FPU    211 non-null    int64
 29  EXC_POT     211 non-null    int64
 30  IND_ACT     211 non-null    float64
 31  IND_ANT     211 non-null    float64
 32  ENE_REACT   211 non-null    int64
 33  FACT_POT    211 non-null    float64
 34  POT_TRA1    211 non-null    int64
 35  POT_TRA2    211 non-null    int64
 36  POT_TRA3    211 non-null    int64
 37  T_APUB      211 non-null    float64
 38  T_ASEO      211 non-null    float64
 39  IMP_AP      211 non-null    int64
 40  T_DIGNID    211 non-null    int64
 41  RECONEX     211 non-null    float64
 42  LEY1886     211 non-null    int64
 43  MOROSIDA    211 non-null    float64
 44  REDUCCIO    211 non-null    int64
 45  OTRO_IMP    211 non-null    int64
 46  IMP_BFP     211 non-null    float64
 47  IMP_CF      211 non-null    float64
 48  IMP_POT     211 non-null    float64
 49  IMP_EXC     211 non-null    float64
 50  IMPTOTAL    211 non-null    float64
 51  IMP_ENE     211 non-null    float64
 52  IMPTOTAL_C  211 non-null    float64
 53  NIT         211 non-null    int64
 54  NRO_DOCUME  211 non-null    int64
 55  FREG_ENE_0  211 non-null    int64
 56  FREPETIDO   211 non-null    int64
dtypes: datetime64[ns](2), float64(14), int64(33), object(8)
memory usage: 94.1+ KB

In [18]:
SUR = SUR.set_index("CLIENTE")

In [19]:
SUR_merge = pd.merge(SUR, industrial, how='left',left_index=True,right_index=True)
SUR_merge

,NOMBRE,MUNICIPIO,DIRECCION,AREA,AREA_TEXT,ANO,MES,CAT_APL,SUB_CAT,TENS_SUM,...,mar,abr,may,jun,jul,ago,sep,oct,nov,dic
CLIENTE,,,,,,,,,,,,,,,,,,,,,
13218,URQUIOLA LLUSCO JAVIER FERNANDO,LA PAZ,"COTA COTA,CALLE 29/AV.ANDRES BELLO",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,37.0,66.0,61.0,64.0,36.0,59.0,64.0,51.0,40.0,40.0
33383,OLMOS SOZA GERSON ENRIQUE,LA PAZ,"COTA COTA,URB.LOS OLIVOS,T-1 PASANDO CALLE 28",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167951,TORRICO VARGAS VICTOR PEDRO,LA PAZ,"COTA COTA,AV.MUÑOZ REYES",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,253.0,284.0,352.0,483.0,525.0,580.0,460.0,306.0,304.0,309.0
227115,SANCHEZ APAZA VERONICA,LA PAZ,"COTA COTA,CALLE 35 ESQ.CALLE INTI N°25-A",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,233.0,241.0,300.0,262.0,202.0,256.0,206.0,210.0,252.0,212.0
267649,LANDAETA CARVALLO ANDRES GUSTAVO,LA PAZ,"COTA COTA,CALLE 31/L.ESPINAL Y A.PLATA",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,1.0,21.0,11.0,3.0,45.0,149.0,94.0,119.0,98.0,101.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
963110,VILLCA FLORES JUAN CARLOS,LA PAZ,"PEDREGAL,CALLE 1/CALLES A-B",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,139.0,139.0,131.0,137.0,114.0,116.0,115.0,118.0,115.0,100.0
628419,MAMANI LARUTA VICTOR,LA PAZ,"PLAYON COQUENI,CALLE 25 DE JULIO PSD CLL 53",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,203.0,186.0,206.0,359.0,294.0,160.0,256.0,274.0,331.0,328.0
543631,FLORES LIRA CLIMACO,LA PAZ,"SAN MIGUEL ALPACOMA,CALLE LAS RETAMAS",1,LA PAZ,2023,1,I-GD-MT,Industrial,MT,...,11880.0,14880.0,15720.0,17880.0,18360.0,17400.0,16080.0,16200.0,16680.0,17160.0
164,COMUNICACIONES EL PAIS S.A.,LA PAZ,URB.COLINAS DE SANTA RITA,1,LA PAZ,2023,1,I-GD-MT,Industrial,MT,...,46800.0,31200.0,33600.0,30000.0,31200.0,27600.0,30000.0,27600.0,30000.0,32400.0
615453,CABRERA GARCIA DONATO OCTAVIO,LA PAZ,"WILA KHOTA 2,URB.CASEGURAL,CLL.8,/AV.PERIMETR",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,153.0,192.0,170.0,193.0,175.0,218.0,189.0,174.0,210.0,211.0

In [20]:
Macro_SUR =SUR_merge[['ene','feb','mar','abr','may','jun','jul','ago','sep','oct','nov','dic']].dropna()

In [21]:
Macro_SUR.to_csv('SUR_industrial_2023.csv')
Macro_SUR.to_excel('SUR_industrial_2023.xlsx')

# COTAHUMA

In [22]:
F_MP = 'ConsuIndustrial.xlsx'
Fuente_MP = D_Centro+'/'+F_MP
Cotahuma = pd.read_excel(Fuente_MP, sheet_name='Cotahuma')
Cotahuma.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285 entries, 0 to 284
Data columns (total 57 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CLIENTE     285 non-null    int64
 1   NOMBRE      285 non-null    object
 2   MUNICIPIO   285 non-null    object
 3   DIRECCION   285 non-null    object
 4   AREA        285 non-null    int64
 5   AREA_TEXT   285 non-null    object
 6   ANO         285 non-null    int64
 7   MES         285 non-null    int64
 8   CAT_APL     285 non-null    object
 9   SUB_CAT     285 non-null    object
 10  TENS_SUM    285 non-null    object
 11  TENS_MED    285 non-null    object
 12  FECH_ANT    285 non-null    datetime64[ns]
 13  FECH_ACT    285 non-null    datetime64[ns]
 14  CONS_LEI    285 non-null    int64
 15  CONS_BAL    285 non-null    int64
 16  CONS_BML    285 non-null    int64
 17  CONS_BBL    285 non-null    int64
 18  PERDIDAS    285 non-null    int64
 19  CONS_BAF    285 non-null    int64
 20  CONS_BMF    285 non-null    int64
 21  CONS_BBF    285 non-null    int64
 22  CONS_FAC    285 non-null    int64
 23  P_DECL      285 non-null    int64
 24  PLEI_PU     285 non-null    int64
 25  PLEI_FPU    285 non-null    int64
 26  P_CAL       285 non-null    int64
 27  PFAC_PU     285 non-null    int64
 28  PFAC_FPU    285 non-null    int64
 29  EXC_POT     285 non-null    int64
 30  IND_ACT     285 non-null    float64
 31  IND_ANT     285 non-null    float64
 32  ENE_REACT   285 non-null    int64
 33  FACT_POT    285 non-null    float64
 34  POT_TRA1    285 non-null    int64
 35  POT_TRA2    285 non-null    int64
 36  POT_TRA3    285 non-null    int64
 37  T_APUB      285 non-null    float64
 38  T_ASEO      285 non-null    float64
 39  IMP_AP      285 non-null    int64
 40  T_DIGNID    285 non-null    int64
 41  RECONEX     285 non-null    float64
 42  LEY1886     285 non-null    int64
 43  MOROSIDA    285 non-null    float64
 44  REDUCCIO    285 non-null    int64
 45  OTRO_IMP    285 non-null    int64
 46  IMP_BFP     285 non-null    float64
 47  IMP_CF      285 non-null    float64
 48  IMP_POT     285 non-null    float64
 49  IMP_EXC     285 non-null    float64
 50  IMPTOTAL    285 non-null    float64
 51  IMP_ENE     285 non-null    float64
 52  IMPTOTAL_C  285 non-null    float64
 53  NIT         285 non-null    int64
 54  NRO_DOCUME  285 non-null    int64
 55  FREG_ENE_0  285 non-null    int64
 56  FREPETIDO   285 non-null    int64
dtypes: datetime64[ns](2), float64(14), int64(33), object(8)
memory usage: 127.0+ KB

In [23]:
Cotahuma = Cotahuma.set_index("CLIENTE")

In [24]:
Cotahuma_merge = pd.merge(Cotahuma, industrial, how='left',left_index=True,right_index=True)
Cotahuma_merge

,NOMBRE,MUNICIPIO,DIRECCION,AREA,AREA_TEXT,ANO,MES,CAT_APL,SUB_CAT,TENS_SUM,...,mar,abr,may,jun,jul,ago,sep,oct,nov,dic
CLIENTE,,,,,,,,,,,,,,,,,,,,,
16789,QUISPE CALLEJAS FACUNDO,LA PAZ,"SAN PEDRO,CLL CANONIGO AYLLON ED.FRANZEN LOC.",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,35.0,45.0,45.0,87.0,79.0,63.0,44.0,35.0,29.0,57.0
27667,IBAÑEZ FLORES LUIS HUMBERTO,LA PAZ,"SAN PEDRO,CLL.ALMIRANTE GRAU/BOQUERON Y B.SIS",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,266.0,295.0,79.0,25.0,38.0,266.0,93.0,131.0,188.0,17.0
31757,"MONTES DE O,ROSARIO DE",LA PAZ,"SAN PEDRO,C.ARTURO COSTA DE LA TORRE",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,783.0,889.0,1026.0,979.0,1072.0,880.0,900.0,1094.0,802.0,1274.0
65437,RIOS DE RAMIREZ VICENTA,LA PAZ,"SAN PEDRO,CALLE OTERO DE LA VEGA 357/CAÑANA S",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,248.0,240.0,221.0,212.0,200.0,226.0,0.0,470.0,224.0,222.0
70397,PAZ FERNANDEZ JESUS,LA PAZ,"SAN PEDRO, CLL.RIGOBERTO PAREDES/ALMIRANTE GR",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,1.0,0.0,0.0,0.0,7.0,30.0,44.0,0.0,0.0,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64654,"MENDOZA CRUZ,ADRIAN",LA PAZ,URCULLO 906,1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,2.0,1.0,1.0,0.0,1.0,4.0,0.0,1.0,2.0,4.0
69012,"ARAUZ F,FRANCISCO",LA PAZ,V DE RADA 769,1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,88.0,63.0,68.0,70.0,64.0,84.0,65.0,64.0,55.0,54.0
250894,ALARCON DE ZAMORA CECILIA VERONICA,LA PAZ,"V.8 DE DIC,CLL.CIRCUNVALACIÓN,CASI ESQ. C.VIN",1,LA PAZ,2023,1,I-MD-BT,Industrial,BT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996830,ALVAREZ TELLEZ VICTOR HUGO,LA PAZ,"V.8 DE DICIEMBRE,PSJ.PISIGA ESQ.PROLG.M Y PEL",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,30.0,50.0,74.0,23.0,44.0,38.0,18.0,51.0,36.0,28.0
941452,QUENTA QUISPE ANGEL,LA PAZ,"VILLA NVO.POTOSI,CLL.L.ALCOREZA/GUAMAN DE AYA",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,792.0,751.0,778.0,731.0,725.0,833.0,813.0,804.0,841.0,796.0

In [25]:
Macro_Cotahuma =Cotahuma_merge[['ene','feb','mar','abr','may','jun','jul','ago','sep','oct','nov','dic']].dropna()

In [26]:
Macro_Cotahuma.to_csv('Cotahuma_industrial_2023.csv')
Macro_Cotahuma.to_excel('Cotahuma_industrial_2023.xlsx')

# Periferica

In [27]:
F_MP = 'ConsuIndustrial.xlsx'
Fuente_MP = D_Centro+'/'+F_MP
Periferica = pd.read_excel(Fuente_MP, sheet_name='Periferica')
Periferica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 57 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CLIENTE     208 non-null    int64
 1   NOMBRE      208 non-null    object
 2   MUNICIPIO   208 non-null    object
 3   DIRECCION   208 non-null    object
 4   AREA        208 non-null    int64
 5   AREA_TEXT   208 non-null    object
 6   ANO         208 non-null    int64
 7   MES         208 non-null    int64
 8   CAT_APL     208 non-null    object
 9   SUB_CAT     208 non-null    object
 10  TENS_SUM    208 non-null    object
 11  TENS_MED    208 non-null    object
 12  FECH_ANT    208 non-null    datetime64[ns]
 13  FECH_ACT    208 non-null    datetime64[ns]
 14  CONS_LEI    208 non-null    int64
 15  CONS_BAL    208 non-null    int64
 16  CONS_BML    208 non-null    int64
 17  CONS_BBL    208 non-null    int64
 18  PERDIDAS    208 non-null    int64
 19  CONS_BAF    208 non-null    int64
 20  CONS_BMF    208 non-null    int64
 21  CONS_BBF    208 non-null    int64
 22  CONS_FAC    208 non-null    int64
 23  P_DECL      208 non-null    int64
 24  PLEI_PU     208 non-null    int64
 25  PLEI_FPU    208 non-null    int64
 26  P_CAL       208 non-null    int64
 27  PFAC_PU     208 non-null    int64
 28  PFAC_FPU    208 non-null    int64
 29  EXC_POT     208 non-null    int64
 30  IND_ACT     208 non-null    float64
 31  IND_ANT     208 non-null    float64
 32  ENE_REACT   208 non-null    int64
 33  FACT_POT    208 non-null    float64
 34  POT_TRA1    208 non-null    int64
 35  POT_TRA2    208 non-null    int64
 36  POT_TRA3    208 non-null    int64
 37  T_APUB      208 non-null    float64
 38  T_ASEO      208 non-null    float64
 39  IMP_AP      208 non-null    int64
 40  T_DIGNID    208 non-null    int64
 41  RECONEX     208 non-null    float64
 42  LEY1886     208 non-null    int64
 43  MOROSIDA    208 non-null    float64
 44  REDUCCIO    208 non-null    int64
 45  OTRO_IMP    208 non-null    int64
 46  IMP_BFP     208 non-null    float64
 47  IMP_CF      208 non-null    float64
 48  IMP_POT     208 non-null    float64
 49  IMP_EXC     208 non-null    float64
 50  IMPTOTAL    208 non-null    float64
 51  IMP_ENE     208 non-null    float64
 52  IMPTOTAL_C  208 non-null    float64
 53  NIT         208 non-null    int64
 54  NRO_DOCUME  208 non-null    int64
 55  FREG_ENE_0  208 non-null    int64
 56  FREPETIDO   208 non-null    int64
dtypes: datetime64[ns](2), float64(14), int64(33), object(8)
memory usage: 92.8+ KB

In [28]:
Periferica = Periferica.set_index("CLIENTE")

In [29]:
Periferica_merge = pd.merge(Periferica, industrial, how='left',left_index=True,right_index=True)
Periferica_merge

,NOMBRE,MUNICIPIO,DIRECCION,AREA,AREA_TEXT,ANO,MES,CAT_APL,SUB_CAT,TENS_SUM,...,mar,abr,may,jun,jul,ago,sep,oct,nov,dic
CLIENTE,,,,,,,,,,,,,,,,,,,,,
106,TEXTIL PUNTO BLANCO SA,LA PAZ,"V.FATIMA,ANTEZANA 347",1,LA PAZ,2023,1,I-MD-BT,Industrial,BT,...,3360.0,3520.0,2560.0,2880.0,2400.0,2880.0,2720.0,2560.0,2080.0,2080.0
118,MONOPOL LTDA,LA PAZ,"V.FATIMA,COVENDO 1",1,LA PAZ,2023,1,I-GD-MT,Industrial,MT,...,67200.0,63600.0,60000.0,62400.0,57600.0,52800.0,67200.0,63600.0,52800.0,56400.0
119,PLAS FILM LTDA,LA PAZ,"V.FATIMA,COVENDO 871",1,LA PAZ,2023,1,I-MD-BT,Industrial,BT,...,1800.0,2040.0,2400.0,1800.0,2280.0,2760.0,1680.0,1680.0,1320.0,1560.0
38536,SERVICIO NACIONAL TEXTIL - SENATEX,LA PAZ,"V.FATIMA,YANACACHI 1489 1489",1,LA PAZ,2023,1,I-GD-MT,Industrial,MT,...,26400.0,27600.0,25200.0,27600.0,27600.0,32400.0,31200.0,30000.0,32400.0,31200.0
38539,SERVICIO NACIONAL TEXTIL - SENATEX,LA PAZ,"V.FATIMA,J M PEREZ 590 590",1,LA PAZ,2023,1,I-GD-MT,Industrial,MT,...,74400.0,75600.0,87600.0,111600.0,109200.0,99600.0,104400.0,90000.0,112800.0,97200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194476,MORAVEK ESTENSSORO BRETISLAV,LA PAZ,"VILLA LA MERCED, AV.COSTANERA ESQ.MURURATA",1,LA PAZ,2023,1,I-MD-MT,Industrial,MT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
908545,LIMACHI FERNANDEZ DIONICIO,LA PAZ,"VILLA SAN JUAN LAZARETO,CALLE MANUEL ESCOBAR",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
932868,MAMANI MACHACA ROSA,LA PAZ,"Z,27 DE MAYO CLL 5 /CLL F.CERNADAS Y PUERTO R",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,15.0,11.0,15.0,15.0,11.0,10.0,19.0,13.0,16.0,29.0
195499,"GARCIA,JUAN",LA PAZ,"Z.AGUA DE LA VIDA,C.FNL.YANACOCHA",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,40.0,30.0,20.0,0.0,50.0,30.0,20.0,30.0,30.0,20.0
210057,"HUAYCHO B ,MARIO",LA PAZ,"JUNTA V 5 DEDOS,FEDERAL 8",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,239.0,246.0,217.0,173.0,168.0,191.0,204.0,205.0,144.0,149.0

In [30]:
Macro_Periferica =Periferica_merge[['ene','feb','mar','abr','may','jun','jul','ago','sep','oct','nov','dic']].dropna()

In [31]:
Macro_Periferica.to_csv('Periferica_industrial_2023.csv')
Macro_Periferica.to_excel('Periferica_industrial_2023.xlsx')

# San Antonio

In [32]:
F_MP = 'ConsuIndustrial.xlsx'
Fuente_MP = D_Centro+'/'+F_MP
SanAntonio = pd.read_excel(Fuente_MP, sheet_name='San Antonio')
SanAntonio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 57 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CLIENTE     121 non-null    int64
 1   NOMBRE      121 non-null    object
 2   MUNICIPIO   121 non-null    object
 3   DIRECCION   121 non-null    object
 4   AREA        121 non-null    int64
 5   AREA_TEXT   121 non-null    object
 6   ANO         121 non-null    int64
 7   MES         121 non-null    int64
 8   CAT_APL     121 non-null    object
 9   SUB_CAT     121 non-null    object
 10  TENS_SUM    121 non-null    object
 11  TENS_MED    121 non-null    object
 12  FECH_ANT    121 non-null    datetime64[ns]
 13  FECH_ACT    121 non-null    datetime64[ns]
 14  CONS_LEI    121 non-null    int64
 15  CONS_BAL    121 non-null    int64
 16  CONS_BML    121 non-null    int64
 17  CONS_BBL    121 non-null    int64
 18  PERDIDAS    121 non-null    int64
 19  CONS_BAF    121 non-null    int64
 20  CONS_BMF    121 non-null    int64
 21  CONS_BBF    121 non-null    int64
 22  CONS_FAC    121 non-null    int64
 23  P_DECL      121 non-null    int64
 24  PLEI_PU     121 non-null    int64
 25  PLEI_FPU    121 non-null    int64
 26  P_CAL       121 non-null    int64
 27  PFAC_PU     121 non-null    int64
 28  PFAC_FPU    121 non-null    int64
 29  EXC_POT     121 non-null    int64
 30  IND_ACT     121 non-null    float64
 31  IND_ANT     121 non-null    float64
 32  ENE_REACT   121 non-null    int64
 33  FACT_POT    121 non-null    float64
 34  POT_TRA1    121 non-null    int64
 35  POT_TRA2    121 non-null    int64
 36  POT_TRA3    121 non-null    int64
 37  T_APUB      121 non-null    float64
 38  T_ASEO      121 non-null    float64
 39  IMP_AP      121 non-null    int64
 40  T_DIGNID    121 non-null    int64
 41  RECONEX     121 non-null    float64
 42  LEY1886     121 non-null    int64
 43  MOROSIDA    121 non-null    int64
 44  REDUCCIO    121 non-null    int64
 45  OTRO_IMP    121 non-null    int64
 46  IMP_BFP     121 non-null    float64
 47  IMP_CF      121 non-null    float64
 48  IMP_POT     121 non-null    float64
 49  IMP_EXC     121 non-null    float64
 50  IMPTOTAL    121 non-null    float64
 51  IMP_ENE     121 non-null    float64
 52  IMPTOTAL_C  121 non-null    float64
 53  NIT         121 non-null    int64
 54  NRO_DOCUME  121 non-null    int64
 55  FREG_ENE_0  121 non-null    int64
 56  FREPETIDO   121 non-null    int64
dtypes: datetime64[ns](2), float64(13), int64(34), object(8)
memory usage: 54.0+ KB

In [33]:
SanAntonio = SanAntonio.set_index("CLIENTE")

In [34]:
SanAntonio_merge = pd.merge(SanAntonio, industrial, how='left',left_index=True,right_index=True)
SanAntonio_merge

,NOMBRE,MUNICIPIO,DIRECCION,AREA,AREA_TEXT,ANO,MES,CAT_APL,SUB_CAT,TENS_SUM,...,mar,abr,may,jun,jul,ago,sep,oct,nov,dic
CLIENTE,,,,,,,,,,,,,,,,,,,,,
6300,SEJAS RIOS EVELYN MARCELA,LA PAZ,"V.SAN ANTONIO,AV 31 OCTUBRE/CRUCE E HINOJOSA",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,380.0,391.0,358.0,351.0,0.0,610.0,338.0,387.0,311.0,309.0
143474,CHOQUE CHOQUE JUSTO FRANZ,LA PAZ,"V.SAN ANTONIO A,CLL.NICOLAS ORTIZ/AV.31 DE OC",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,606.0,698.0,477.0,79.0,162.0,61.0,174.0,81.0,162.0,60.0
173298,CUSI QUISPE SONIA,LA PAZ,V.S ANTON.AV.O CAMPERO*1685 ESQ.C.18 DE MAYO,1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
259304,"SANCHEZ OCHOA,EDGAR R",LA PAZ,"V.SAN ANTONIO,C.MACEDONIO ARELLANO",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,5.0,5.0,1.0,1.0,3.0,2.0,9.0,3.0,17.0,17.0
260308,IND.EL VIEJO ROBLE SRL,LA PAZ,"V.S.ANTON,CLL.9*100",1,LA PAZ,2023,1,I-PD-MT,Industrial,MT,...,568.0,596.0,612.0,710.0,656.0,671.0,601.0,652.0,693.0,690.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294450,"MORALES I,FELICIANO",LA PAZ,"V.VRROEL,17 DE MAYO 246",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,21.0,27.0,31.0,28.0,21.0,11.0,3.0,0.0,2.0,6.0
282992,"DIAZ VALDIVIEZO,RUBEN",LA PAZ,"V.VRROEL,CLL.3*2",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
282744,"NIERVA VASQUEZ,CASIANO",LA PAZ,"V.VRROEL,LITORAL 35",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,169.0,242.0,219.0,213.0,95.0,92.0,148.0,203.0,171.0,188.0
283187,"MAMANI CHOQUE,LUIS D.",LA PAZ,"V.VRROEL.ARMONIA*37,PDO.T KA",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,95.0,108.0,96.0,102.0,95.0,92.0,105.0,106.0,98.0,93.0
282659,"CLAVIJO,BEATRIZ G DE",LA PAZ,V.VRROEL.MURGUIA 21,1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,108.0,57.0,52.0,64.0,51.0,51.0,58.0,56.0,57.0,57.0

In [35]:
Macro_SanAntonio =SanAntonio_merge[['ene','feb','mar','abr','may','jun','jul','ago','sep','oct','nov','dic']].dropna()

In [36]:
Macro_SanAntonio.to_csv('SanAntonio_industrial_2023.csv')
Macro_SanAntonio.to_excel('SanAntonio_industrial_2023.xlsx')

# MALLASA

In [37]:
F_MP = 'ConsuIndustrial.xlsx'
Fuente_MP = D_Centro+'/'+F_MP
Mallasa = pd.read_excel(Fuente_MP, sheet_name='Mallasa')
Mallasa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 57 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CLIENTE     3 non-null      int64
 1   NOMBRE      3 non-null      object
 2   MUNICIPIO   3 non-null      object
 3   DIRECCION   3 non-null      object
 4   AREA        3 non-null      int64
 5   AREA_TEXT   3 non-null      object
 6   ANO         3 non-null      int64
 7   MES         3 non-null      int64
 8   CAT_APL     3 non-null      object
 9   SUB_CAT     3 non-null      object
 10  TENS_SUM    3 non-null      object
 11  TENS_MED    3 non-null      object
 12  FECH_ANT    3 non-null      datetime64[ns]
 13  FECH_ACT    3 non-null      datetime64[ns]
 14  CONS_LEI    3 non-null      int64
 15  CONS_BAL    3 non-null      int64
 16  CONS_BML    3 non-null      int64
 17  CONS_BBL    3 non-null      int64
 18  PERDIDAS    3 non-null      int64
 19  CONS_BAF    3 non-null      int64
 20  CONS_BMF    3 non-null      int64
 21  CONS_BBF    3 non-null      int64
 22  CONS_FAC    3 non-null      int64
 23  P_DECL      3 non-null      int64
 24  PLEI_PU     3 non-null      int64
 25  PLEI_FPU    3 non-null      int64
 26  P_CAL       3 non-null      int64
 27  PFAC_PU     3 non-null      int64
 28  PFAC_FPU    3 non-null      int64
 29  EXC_POT     3 non-null      int64
 30  IND_ACT     3 non-null      float64
 31  IND_ANT     3 non-null      float64
 32  ENE_REACT   3 non-null      int64
 33  FACT_POT    3 non-null      float64
 34  POT_TRA1    3 non-null      int64
 35  POT_TRA2    3 non-null      int64
 36  POT_TRA3    3 non-null      int64
 37  T_APUB      3 non-null      float64
 38  T_ASEO      3 non-null      float64
 39  IMP_AP      3 non-null      int64
 40  T_DIGNID    3 non-null      int64
 41  RECONEX     3 non-null      int64
 42  LEY1886     3 non-null      int64
 43  MOROSIDA    3 non-null      int64
 44  REDUCCIO    3 non-null      int64
 45  OTRO_IMP    3 non-null      int64
 46  IMP_BFP     3 non-null      int64
 47  IMP_CF      3 non-null      float64
 48  IMP_POT     3 non-null      float64
 49  IMP_EXC     3 non-null      float64
 50  IMPTOTAL    3 non-null      float64
 51  IMP_ENE     3 non-null      float64
 52  IMPTOTAL_C  3 non-null      float64
 53  NIT         3 non-null      int64
 54  NRO_DOCUME  3 non-null      int64
 55  FREG_ENE_0  3 non-null      int64
 56  FREPETIDO   3 non-null      int64
dtypes: datetime64[ns](2), float64(11), int64(36), object(8)
memory usage: 1.5+ KB

In [38]:
Mallasa = Mallasa.set_index("CLIENTE")

In [39]:
Mallasa_merge = pd.merge(Mallasa, industrial, how='left',left_index=True,right_index=True)
Mallasa_merge

,NOMBRE,MUNICIPIO,DIRECCION,AREA,AREA_TEXT,ANO,MES,CAT_APL,SUB_CAT,TENS_SUM,...,mar,abr,may,jun,jul,ago,sep,oct,nov,dic
CLIENTE,,,,,,,,,,,,,,,,,,,,,
179,PRETENSA LTDA,LA PAZ,MALLASILLA FTE CLUB DE GOLF,1,LA PAZ,2023,1,I-GD-MT,Industrial,MT,...,14760.0,13920.0,13440.0,12840.0,11760.0,14760.0,18960.0,17280.0,14400.0,14640.0
63360,LA PAZ GOLF CLUB,LA PAZ,"MALLASILLA,PDO CAMPOS GOLF",1,LA PAZ,2023,1,I-MD-BT,Industrial,BT,...,3040.0,4880.0,3440.0,4000.0,4560.0,4720.0,4960.0,4960.0,4800.0,1920.0
194835,GEMIO ZUMARAN SERGIO,LA PAZ,"ARANJUEZ,AV.HERNANDO SILES SUPERMERCADO MISUP",1,LA PAZ,2023,1,I-PD-BT,Industrial,BT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
Macro_Mallasa =Mallasa_merge[['ene','feb','mar','abr','may','jun','jul','ago','sep','oct','nov','dic']].dropna()

In [41]:
Macro_Mallasa.to_csv('Mallasa_industrial_2023.csv')
Macro_Mallasa.to_excel('Mallasa_industrial_2023.xlsx')